#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: linear-gradient(90deg, #e2e2e2,#c9d6ff);
    transition: all 0.6s ease-out;
  }
  
  #preloader:after {
    content: "";
    position: fixed;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    border: 6px solid #ffffff;
    border-color: #007BFF transparent #007BFF transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite reverse;
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }